<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-8">
    <h1 id="article-title">Look at our products</h1>
  </article>
</section>

<section id="products">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <% @products.each do |product| %>
  <div class="product clearfix">
    <a href="<%= product_path(product) %>">
      <div class="product-image-container">
        <img src="<%= asset_path product.image_name.downcase %>" alt="<%= product.title %>" />
        <span class="product-price">$<%= product.price %></span>
      </div>
      <p class="product-title"><%= product.title %></p>
  </div>
  <% end %>
</section>